.message {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  padding: 10px 35px;
  margin-top: 25px;

  &:hover {
    background-color: var(--bg-color);

    .content {
      .speech {
        background-color: white;
      }

      .label {
        .answer-time {
          color: black;
          font-weight: 700;
        }
      }
    }

    .reaction-bar {
      display: inline-flex;
    }
  }

  .avatar {
    img {
      width: 70px;
      border-radius: 50%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .header {
      gap: 20px;

      .name {
        font-size: 18px;
        font-weight: 700;
      }

      .message-time {
        color: var(--dark-grey);
        font-size: 14px;
        font-weight: 400;
      }
    }

    .speech {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      padding: 15px;
      border-radius: 0px 30px 30px 30px;
      background: var(--bg-color);
      font-size: 18px;
      font-weight: 400;
    }

    .message-reactions {
      display: none;
      padding: 3px 15px 3px 20px;

      ul {
        gap: 5px;
      }
    }
  }

  .reaction-bar {
    position: absolute;
    top: -25px;
    right: 40px;
    display: inline-flex;
    padding: 3px 10px;
    align-items: flex-start;
    gap: 5px;
    border-radius: 25px 25px 0px 25px;
    border: 1px solid var(--light-grey);
    background: white;
    display: none;

    .icon-single {
      padding: 10px !important;
    }
  }
}
