<div class="position-relative">
  <input
    #searchInput
    type="search"
    aria-label="Search"
    class="search rounded-pill border-0 p-3 px-5"
    placeholder="Code learning durchsuchen..."
    (input)="input$.next(searchInput.value)"
  />
  <!-- TODO: add fancy animation -->
  <div
    *ngIf="isLoading"
    class="text-white p-3 position-absolute top-0 left-0 z-5 rounded-pill"
    style="background-color: var(--purple)"
  >
    ..Suchergebnisse werden geladen..
  </div>
  <!--  -->
  <div
    *ngIf="searchInput.value !== ''"
    class="z-2 position-absolute top-100 start-0 ms-4"
  >
    <ul class="bg-white shadow rounded-bottom p-0">
      <li
        *ngFor="let result of results$ | async"
        class="results text-center py-2 fs-5 text-hover px-3 pointer"
      >
        {{ result.name | titlecase }}
      </li>
    </ul>
  </div>
</div>
