.mat-card {
  height: 100%;
  width: 485px;
  max-width: 485px;
  contain: content;

  .mat-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
}

.thread-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 40px;

  .thread-title {
    gap: 5px;

    span {
      color: var(--dark-blue);
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.ul-messages {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 38px;
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  li {
    margin: 15px 0;
  }

  .separator {
    gap: 20px;
    width: calc(100% - 80px);

    span {
      white-space: nowrap;
      color: var(--light-grey);
      font-size: 18px;
      font-weight: 400;
    }
    .seperating-line {
      height: 1px;
      background-color: var(--bg-color);
      width: 100%;
    }
  }
}

/*-------------------------------- Responsive --------------------------------*/

@media (max-width: 1500px) {
  .mat-card {
    width: 35vw;
  }
}
@media (max-width: 1200px) {
  .mat-card {
    width: 40vw !important;
  }
}
@media (max-width: 1000px) {
  .separator {
    span {
      font-size: 14px !important;
    }
  }
}
@media (max-width: 800px) {
  .mat-card {
    width: 50vw !important;
  }
}
@media (max-width: 600px) {
  .mat-card {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0 !important;
  }
  app-custom-textarea {
    padding: 0 16px 16px !important;
  }
}
