<div class="container">
  <img class="logo" src="../../assets/icons/logo_with_text.png" />
  <div class="register-container">

    <div class="info">
      <a routerLink="/login" class="return-arrow">
        <img class="return-arrow" src="../../assets/icons/arrow_back.png" />
      </a>
      <h1>Konto erstellen</h1>
      <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
        DABubble-Konto.
      </span>
    </div>

    <form (submit)="registerUser()" #createUserForm ngNativeValidate>
      <div>
        <div class="name-container" [class.focused]="isNameFocused">
          <img src="../../assets/icons/person_icon.png" />

          <input name="name" id="name" type="text" placeholder="Name und Nachname" (focus)="onFocusName()"
            (blur)="onBlurName()" />
        </div>
        <span *ngIf="nameError" class="error">Bitte geben Sie einen Namen ein.</span>
      </div>

      <div>
        <div class="email-container">
          <img src="../../assets/icons/email_icon.png" />

          <input required name="email" id="email" type="email" placeholder="beispielname@email.com"
            (focus)="onFocusEmail()" (blur)="onBlurMail()" />
        </div>
        <span *ngIf="nameError" class="error">*Diese E-Mail-Adresse ist leider ungültig.</span>
      </div>

      <div>
        <div class="pw-container">
          <img src="../../assets/icons/password_icon.png" />

          <input required name="password" id="password" type="password" placeholder="Passwort" (focus)="onFocusPw()"
            (blur)="onBlurPw()" />
        </div>
        <span *ngIf="nameError" class="error">Bitte geben Sie ein Passwort ein mit mind. 8 Zeichen.</span>
      </div>

      <div class="data-policy-container">
        <input id="data-policy" type="checkbox" required />
        <label for="data-policy">Ich stimme der <a href="#">Datenschutzerklärung</a> zu.</label>
      </div>

      <div class="btn-container">
        <!-- !!! -->
        <button class="submit" type="submit">Weiter</button>
        <button routerLink="/choose-avatar" class="submit" type="submit">Weiter</button>
        <!-- !!! -->
      </div>
    </form>
  </div>

  <div class="data-policies">
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
  </div>
  <div class="animation-container" *ngIf="showAnimationContainer">
    <img src="../../assets/icons/overlays/Overlay-One.png" [@slideAnimation]="animationState"/>
  </div>
</div>