.logo {
    align-self: flex-start;
    margin-top: 32px;
}

.container {
    width: 100vw;
    max-width: 100%;
    position: relative;
    // height: 100vh;
    max-height: 100%;
    padding: 75px;
    padding-top: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: "Nunito" !important;
    gap: 160px;
}

.register-container {
    overflow: scroll;
    width: 606px;
    height: 685px;
    border-radius: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 40px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.return-arrow {
    position: absolute;
    padding: 8px;
    left: 24px;
    top: 24px;
    &:hover {
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h1 {
        color: var(--purple, #444df2);
        font-size: 46px;
        text-align: center;
        font-weight: 700;
        font-family: "Nunito" !important;
    }
    span {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
}

form {
    margin-top: 46px;
    width: 500px;
    height: 222px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    input {
        align-items: center;
        gap: 10px;
        outline-style: none !important;
        align-self: stretch;
        border-style: unset;
        &:focus {
            border: 1px solid var(--purple, #444df2);
        }
        &:hover {
            border: 1px solid #000000;
            cursor: pointer;
        }
    }
}

.name-container,
.email-container,
.pw-container {
    width: 500px;
    border-radius: 100px;
    display: flex;
    padding: 18px 32px;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--bg-color, #eceefe);
    transition: border-color 0.3s;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid #000000;
        cursor: pointer;
    }
    &:focus {
        border: 1px solid var(--purple, #444df2);
    }
    input {
        font-family: "Nunito";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        background: var(--bg-color, #eceefe);
        outline-style: none;
        border-style: unset;
        width: 100%;
        &:focus {
            border: none;
        }
        &:hover {
            border: none;
        }
    }
}

.name-container.focused,
.email-container.focused,
.pw-container.focused {
    border: 1px solid var(--darke-blue, #797ef3);
}

.reset {
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: var(--darke-blue, #797ef3);
    &:hover {
        background-color: var(--bg-color, #eceefe);
        border-radius: 12px;
        font-weight: 700;
    }
}

.error {
    color: var(--red);
}

.btn-container {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.submit {
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    color: white;
    border-radius: 25px;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--purple, #444df2);
    &:hover {
        cursor: pointer;
        background-color: #575ee4;
    }
}

.data-policy-container {
    display: flex;
    width: 500px;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    align-items: center;
    a {
        text-decoration: none;
    }
    input {
        width: 24px;
        height: 24px;
        accent-color: var(--darke-blue, #797ef3);
    }
}

.data-policies {
    display: flex;
    margin-top: auto;
    gap: 16px;
    a {
        padding: 10px 15px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        border: 1px solid transparent;
        &:hover {
            border: 0.5px solid #808080;
            border-radius: 100px;
        }
    }
}

.animation-container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #edeefc4f;
    overflow: hidden;
    img {
        position: absolute;
        bottom: 32px;
        right: 32px;
    }
}
