<div class="intro-bg">
    <div class="logo-content">
        <div class="logo-intro">
            <img class="logo-image" src="../../assets/icons/big_logo.png">
            <div class="logo-text">
                <img src="../../assets/icons/logo_name.png">
            </div>
        </div>
    </div>
</div>
<div class="login-page">
    <img class="logo" src="../../assets/icons/logo_with_text.png">

<!-- Anmeldung -->

    <mat-card>
        <mat-card-content>
            <div class="login-container">
                <div class="greet">
                  <h1>Anmeldung</h1>
                  <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
                </div>
            <form >
      <div class="wrapper">
        <div class="email-container">
          <img src="./assets/icons/email_icon.png"/>
          <input required id="email" type="email" placeholder="beispielname@email.de" name="email"/>
        </div>

        <span class="error"
          >Diese E-Mail-Adresse ist leider ungültig.
        </span>

        <span class="error">
          Bitte prüfe deine Email Adresse.
        </span>

      </div>
      <div class="wrapper">
        <div class="pwd-container">
          <img src="./assets/icons/password_icon.png"/>
          <input required id="password" type="password" name="password" placeholder="Passwort"/>
        </div>
        <span class="error"
          >Falsches Passwort. Bitte noch einmal versuchen.</span
        >
        <span class="erorr">
          Zu viele Versuche. Bitte versuche es später noch einmal.
        </span>
      </div>

      <a class="reset">Passwort vergessen?</a>

      <div class="or-container">
        <div class="splitter"></div>
        <span>ODER</span>
        <div class="splitter"></div>
      </div>

      <div class="google">
        <img src="./assets/icons/google_icon.png" />
        <span>Anmelden mit Google</span>
      </div>

      <div class="btn-container">
        <button class="submit" type="button">
          Anmelden
        </button>
        <button class="guest" type="button">
          Gäste-Login
        </button>

      </div>
    </form>
    
  </div>
</mat-card-content>
</mat-card>

</div>