.textarea-container {
    display: flex;
    width: 100%;
    height: 145px;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 20px;
    border: 1px solid var(--light-grey);
    cursor: pointer;

    &:hover {
        border: 1px solid var(--dark-blue);
    }

    &:active {
        border: 1px solid var(--purple);
    }

    textarea {
        width: 100%;
        flex-grow: 1;
        resize: none;
        border: none;

        &:focus {
            border: none;
            outline: none;
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .textarea-bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .add-elements {
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;

            &:hover {

                path {
                    fill: black;
                }
            }

            .vertical-line {
                position: absolute;
                left: 30px;
            }
        }

        .icon-send {
            transition: all 225ms ease;
            cursor: pointer;

            &:hover {

                path {
                    fill: var(--dark-blue);
                }
            }
        }
    }
}