.text-online {
  color: var(--light-green);
}
.gap-start {
  margin-left: calc(1rem + 24px);
}
.x {
  &:hover {
    background-color: var(--bg-color);
  }
}
.text-mail {
  color: var(--mail-blue);
  &:hover {
    color: var(--active-blue);
  }
}
.btn-outlined {
  font-size: 18px;
  font-weight: 700;
  border-color: var(--purple);
  color: var(--purple);
  &:hover {
    color: white;
    background-color: var(--purple);
  }
}
.text-purple {
  color: var(--purple-3);
  &:hover {
    color: var(--purple);
  }
}

.min-500 {
  min-width: 500px;
}

.avatar-upload-btn {
  position: relative;
  display: flex;

  &:hover {
    cursor: pointer;
    background-color: var(--bg-color);
  }

  input[type="file"] {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
  }
}

/*-------------------------------- Responsive --------------------------------*/

@media (max-height: 750px) {
  mat-card {
    gap: 0 !important;
  }
}
@media (max-width: 600px) {
  mat-card {
    padding: 24px !important;
    gap: 16px !important;
  }
  .my-3 {
    margin-bottom: 32px !important;
  }
  .min-500 {
    min-width: 80vw;
  }
}

@media (max-width: 450px) {
  mat-card {
    gap: 0px !important;
  }
  .min-500 {
    min-width: 100%;
  }
  .mobile-btns {
    justify-content: space-between;
    gap: 0 !important;
  }
  .btn-primary,
  .btn-outlined {
    padding: 8px 16px !important;
    font-size: 16px !important;
  }
  .mob-input {
    margin-bottom: 16px !important;
  }
}
