<div class="d-flex column">
  <mat-card class="p-4 px-5 fs-4 z-3 min-500 gap-4 mt-100">
    <div class="flex-centered justify-content-between">
      <h3 *ngIf="!isEditing"><b>Profil</b></h3>
      <h3 *ngIf="isEditing"><b>Dein Profil bearbeiten</b></h3>
      <i
        class="bi bi-x fs-2 pointer x rounded-circle px-2"
        (click)="close()"
      ></i>
    </div>
    <div *ngIf="!isEditing" class="w-100 flex-centered">
      <img
        width="214px"
        height="214px"
        src="{{ user.photoURL }}"
        class="rounded-circle my-3 object-fit-cover"
      />
    </div>
    <div *ngIf="!isEditing">
      <div class="w-100 mb-4">
        <div class="d-flex justify-content-between">
          <h3>
            <b>{{ user.name | titlecase }}</b>
          </h3>
          <p class="text-purple pointer" (click)="toggleEditProfile()">
            Bearbeiten
          </p>
        </div>
        <div class="d-flex align-items-center gap-3">
          <app-user-status [uid]="user.uid"></app-user-status>
        </div>
      </div>
      <div>
        <div class="d-flex align-items-center gap-3">
          <i class="bi bi-envelope"></i>
          <p>E-Mail-Adresse</p>
        </div>
        <a class="text-mail pointer gap-start">{{ user.email }}</a>
      </div>
    </div>
    <div *ngIf="isEditing">
      <form [formGroup]="editForm" (ngSubmit)="submit()">
        <label class="avatar-upload-btn pointer w-100 flex-centered">
          <img
            width="214px"
            height="214px"
            src="{{
              editForm.get('fileControl')?.invalid
                ? 'assets/characters/default_character.png'
                : editForm.get('fileControl')?.value
            }}"
            class="rounded-circle my-3 object-fit-cover"
          />
          <input
            class="pointer"
            type="file"
            (change)="onFileSelected($event)"
          />
          <input
            type="hidden"
            name="fileHidden"
            formControlName="fileControl"
          />
        </label>
        <label for="fullname" class="form-label"
          ><i class="bi bi-person-circle me-3"></i>Vollständiger Name</label
        >
        <input
          #inputName
          formControlName="nameControl"
          class="form-control rounded-pill p-2 px-3 mb-4 mob-input"
          id="fullname"
          type="text"
          [ngClass]="{ 'is-invalid': editForm.get('nameControl')?.invalid }"
        />
        <label for="email" class="form-label"
          ><i class="bi bi-envelope me-3"></i>E-Mail-Adresse</label
        >
        <input
          formControlName="mailControl"
          class="form-control rounded-pill p-2 px-3 mb-4 mob-input"
          id="email"
          type="email"
          [ngClass]="{ 'is-invalid': editForm.get('mailControl')?.invalid }"
        />
        <div class="flex-centered gap-5 mobile-btns">
          <button
            class="btn btn-outline-primary rounded-pill px-3 p-2 fs-5 btn-outlined"
            type="button"
            (click)="close()"
          >
            Abbrechen
          </button>
          <button
            class="btn-primary"
            type="submit"
            [disabled]="
              (editForm.invalid && editForm.dirty) ||
              editForm.get('mailControl')?.invalid
            "
          >
            Speichern
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
