<div class="container">
    <img class="logo" src="../../assets/icons/logo_with_text.png" />
    <div class="data-policy-container">
        <a routerLink="/login" class="return-arrow">
            <img src="../../assets/icons/arrow_back.png" />
        </a>
        <h1>Datenschutzerklärung</h1>
        <br>
        <span>
            Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der
            EU-Datenschutzgrundverordnung (DSGVO), ist:
        </span>
        <span>Gheorghii Popovici</span>
        <span>Michael Schneider</span>
        <span>Matthias Teutsch</span>
        <br>
        <br>
        <h2>Ihre Betroffenenrechte</h2>
        <br>
        <span>
            Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können
            Sie jederzeit folgende Rechte ausüben:
        </span>
        <ul>
            <li>
                Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung
                (Art. 15 DSGVO),
            </li>
            <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
            <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
            <li>
                Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund
                gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),
            </li>
            <li>
                Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO)
                und
            </li>
            <li>
                Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt
                haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).
            </li>
        </ul>
        <span>
            Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit
            mit Wirkung für die Zukunft widerrufen.
        </span>
        <span>
            Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde
            wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres
            Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige
            Behörde.
        </span>
        <span>
            Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit
            Anschrift finden Sie unter:
            <a href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank"
                rel="noopener nofollow">https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>.
        </span> <br><br>
        <span></span>
        <h2>Erfassung allgemeiner Informationen beim Besuch unserer Website</h2>
        <br>
        <h3>Art und Zweck der Verarbeitung:</h3>
        <span>
            Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht
            registrieren oder anderweitig Informationen übermitteln, werden
            automatisch Informationen allgemeiner Natur erfasst. Diese Informationen
            (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete
            Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre
            IP-Adresse und ähnliches.
        </span>
        <span>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</span>
        <ul>
            <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
            <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
            <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
            <li>zur Optimierung unserer Website.</li>
        </ul>
        <span>
            Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen.
            Informationen dieser Art werden von uns ggfs. anonymisiert statistisch
            ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik
            zu optimieren.
        </span> <br>
        <h3>Rechtsgrundlage und berechtigtes Interesse:</h3>
        <span>
            Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis
            unseres berechtigten Interesses an der Verbesserung der Stabilität und
            Funktionalität unserer Website.
        </span><br>
        <h3>Empfänger:</h3>
        <span>
            Empfänger der Daten sind ggf. technische Dienstleister, die für den
            Betrieb und die Wartung unserer Webseite als Auftragsverarbeiter tätig
            werden.
        </span>
        <span></span><br>
        <h3>Speicherdauer:</h3>
        <span>
            Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht
            mehr erforderlich sind. Dies ist für die Daten, die der Bereitstellung der
            Website dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung beendet
            ist.
        </span>
        <span></span><br>
        <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
        <span>
            Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder
            gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse ist jedoch
            der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet.
            Zudem können einzelne Dienste und Services nicht verfügbar oder
            eingeschränkt sein. Aus diesem Grund ist ein Widerspruch ausgeschlossen.
        </span>
        <span></span><br><br>
        <h2>Registrierung auf unserer Website</h2> <br>
        <h3>Art und Zweck der Verarbeitung:</h3>
        <span>
            Für die Registrierung auf unserer Website benötigen wir einige
            personenbezogene Daten, die über eine Eingabemaske an uns übermittelt
            werden.
        </span>
        <span>
            Zum Zeitpunkt der Registrierung werden zusätzlich folgende Daten erhoben:
        </span>
        <span></span>
        <span>
            Ihre Registrierung ist für das Bereithalten bestimmter Inhalte und
            Leistungen auf unserer Website erforderlich.
        </span><br>
        <h3>Rechtsgrundlage:</h3>
        <span>
            Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf
            Grundlage einer Einwilligung des Nutzers (Art. 6 Abs. 1 lit. a DSGVO).
        </span><br>
        <h3>Empfänger:</h3>
        <span>
            Empfänger der Daten sind ggf. technische Dienstleister, die für den
            Betrieb und die Wartung unserer Website als Auftragsverarbeiter tätig
            werden.
        </span>
        <span></span><br>
        <h3>Speicherdauer:</h3>
        <span>
            Daten werden in diesem Zusammenhang nur verarbeitet, solange die
            entsprechende Einwilligung vorliegt.
        </span><br>
        <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
        <span>
            Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig,
            allein auf Basis Ihrer Einwilligung. Ohne die Bereitstellung Ihrer
            personenbezogenen Daten können wir Ihnen keinen Zugang auf unsere
            angebotenen Inhalte gewähren.
        </span>
        <span></span><br><br><br>
        <h2>Kontaktformular</h2><br>
        <h3>Art und Zweck der Verarbeitung:</h3>
        <span>
            Die von Ihnen eingegebenen Daten werden zum Zweck der individuellen
            Kommunikation mit Ihnen gespeichert. Hierfür ist die Angabe einer validen
            E-Mail-Adresse sowie Ihres Namens erforderlich. Diese dient der Zuordnung
            der Anfrage und der anschließenden Beantwortung derselben. Die Angabe
            weiterer Daten ist optional.
        </span><br>
        <h3>Rechtsgrundlage:</h3>
        <span>
            Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt auf
            der Grundlage eines berechtigten Interesses (Art. 6 Abs. 1 lit. f DSGVO).
        </span>
        <span>
            Durch Bereitstellung des Kontaktformulars möchten wir Ihnen eine
            unkomplizierte Kontaktaufnahme ermöglichen. Ihre gemachten Angaben werden
            zum Zwecke der Bearbeitung der Anfrage sowie für mögliche Anschlussfragen
            gespeichert.
        </span>
        <span>
            Sofern Sie mit uns Kontakt aufnehmen, um ein Angebot zu erfragen, erfolgt
            die Verarbeitung der in das Kontaktformular eingegebenen Daten zur
            Durchführung vorvertraglicher Maßnahmen (Art. 6 Abs. 1 lit. b DSGVO).
        </span><br>
        <h3>Empfänger:</h3>
        <span>Empfänger der Daten sind ggf. Auftragsverarbeiter.</span>
        <span></span><br>
        <h3>Speicherdauer:</h3>
        <span>
            Daten werden spätestens 6 Monate nach Bearbeitung der Anfrage gelöscht.
        </span>
        <span>
            Sofern es zu einem Vertragsverhältnis kommt, unterliegen wir den
            gesetzlichen Aufbewahrungsfristen nach HGB und löschen Ihre Daten nach
            Ablauf dieser Fristen.
        </span><br>
        <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
        <span>
            Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir
            können Ihre Anfrage jedoch nur bearbeiten, sofern Sie uns Ihren Namen,
            Ihre E-Mail-Adresse und den Grund der Anfrage mitteilen.
        </span>
        <span></span><br><br>
        <h2>SSL-Verschlüsselung</h2>
        <span>
            Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden
            wir dem aktuellen Stand der Technik entsprechende
            Verschlüsselungsverfahren (z. B. SSL) über HTTPS.
        </span><br>
        <span></span>
        <hr />
        <h2>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h2><br><br>
        <h3>Einzelfallbezogenes Widerspruchsrecht</h3>
        <span>
            Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
            ergeben, jederzeit gegen die Verarbeitung Sie betreffender
            personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO
            (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt,
            Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmung
            gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.
        </span>
        <span>
            Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht
            mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe
            für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und
            Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung,
            Ausübung oder Verteidigung von Rechtsansprüchen.
        </span><br>
        <h3>Empfänger eines Widerspruchs</h3>
        <span>Gruppenarbeit 797 <br />Musterweg 1 <br />Germany</span>
        <hr />
        <h2>Änderung unserer Datenschutzbestimmungen</h2>
        <span><br>
            Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie
            stets den aktuellen rechtlichen Anforderungen entspricht oder um
            Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B.
            bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die
            neue Datenschutzerklärung.
        </span><br><br>
        <h2>Fragen an den Datenschutzbeauftragten</h2>
        <span><br>
            Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail
            oder wenden Sie sich direkt an die für den Datenschutz verantwortliche
            Person in unserer Organisation:
        </span>
        <span></span>
        <span>
            <em>Die Datenschutzerklärung wurde mithilfe der activeMind AG erstellt, den
                Experten für
                <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank"
                    rel="noopener">externe Datenschutzbeauftragte</a>
                (Version #2020-09-30).</em>
        </span>
    </div>

    <div class="data-policies">
        <a routerLink="/impressum">Impressum</a>
        <a routerLink="/data-policy">Datenschutz</a>
    </div>
</div>