.header {
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.regist-container-mobile {
    display: none;
}

.intro-bg {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
    animation: hiddenIntroBg 300ms ease-in-out 1800ms 1 both;

    .logo-content {
        position: relative;
        width: 100%;
        height: 100%;

        .logo-intro {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: var(--logo-intro-width);
            height: var(--logo-intro-height);
            left: var(--logo-intro-margin-top);
            top: var(--logo-intro-margin-left);
            animation: moveLogoIntro 500ms ease-in-out 1800ms 1 both;

            .logo-image {
                animation: moveLogoImg 500ms ease-in-out 300ms 1 both;
            }

            .logo-text {
                overflow: hidden;

                img {
                    transform: translateX(calc(-1 * var(--logo-intro-text-width)));
                    animation: moveLogoText 500ms ease-in-out 800ms 1 both;
                }
            }
        }
    }
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color, #eceefe);

    .logo {
        position: absolute;
        top: var(--logo-intro-margin-top);
        left: var(--logo-intro-margin-left);
        animation: moveLogo 500ms ease-in-out 1800ms 1 both;
    }
}

.error {
    color: var(--red, #ea4335);
}

.regist-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
        text-decoration: none;
    }
}

.container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 0;
    background-color: var(--bg-color);
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: "Nunito" !important;
    gap: 24px;
}

.login-container {
    width: 606px;
    height: 869px;
    border-radius: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1 {
        color: var(--purple, #444df2);
        font-size: 46px;
        text-align: center;
        font-family: "Nunito" !important;
    }
    span {
        font-size: 20px;
        text-align: center;
    }
}

form {
    margin-top: 46px;
    width: 100%;
    height: 222px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    div:nth-of-type(1),
    div:nth-of-type(2) {
        width: 100%;
    }
    input {
        align-items: center;
        gap: 10px;
        outline-style: none !important;
        align-self: stretch;
        border-style: unset;

        &:focus {
            border: 1px solid var(--purple, #444df2);
        }
        &:hover {
            border: 1px solid black;
            cursor: pointer;
        }
    }
}

.splitter {
    background-color: #adb0d9;
    height: 1px;
    width: 40%;
}

.email-container,
.pwd-container,
.google {
    width: 100%;
    border-radius: 100px;
    display: flex;
    padding: 18px 32px;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--light-blue, #eceefe);
    transition: border-color 0.6s;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid black;
        cursor: pointer;
    }
    &:focus {
        border: 1px solid var(--purple, #444df2);
    }
    input {
        font-family: "Nunito";
        font-size: 18px;
        background: var(--light-blue, #eceefe);
        width: 100%;
        &:focus {
            border: none;
        }
        &:hover {
            border: none;
        }
    }
}

.email-container.focused,
.pwd-container.focused {
    border: 1px solid var(--purple, #444df2);
}

.resetPw {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    color: var(--dark-blue, #797ef3);
    &:hover {
        background-color: var(--light-blue, #eceefe);
        border-radius: 12px;
        font-weight: 700;
    }
}

.or-container {
    display: flex;
    width: 100%;
    align-items: center;
    span {
        font-size: 18px;
        padding: 5px 15px;
    }
}

.google {
    justify-content: center;
    border-radius: 100px;
    gap: 10px;
    font-size: 18px;
    color: var(--purple, #444df2);
    &:hover {
        transition: all 225ms ease-in-out;
        border: 1px solid #444df2;
        box-shadow: 0px 0px 12px #444df2;
        font-weight: 700;
    }
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.submit,
.guest {
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid transparent;
    font-size: 18px;
    &:hover {
        cursor: pointer;
    }
}

.submit {
    background-color: var(--purple, #444df2);
    color: var(--light-blue, #eceefe);
    &:hover {
        background-color: #575ee4;
    }
}

.guest {
    color: var(--purple, #444df2);
    background-color: var(--light-blue, #eceefe);
    border: 1px solid #797ef3;
    &:hover {
        background-color: var(--purple, #444df2);
        color: var(--light-blue, #eceefe);
        border: 1px solid transparent;
    }
}

// ------------- keyframes -------------- //

@keyframes moveLogoImg {
    from {
        transform: translateX(var(--logo-intro-image-width));
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes moveLogoText {
    from {
        transform: translateX(calc(-1 * var(--logo-intro-text-width)));
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes moveLogoIntro {
    from {
        left: calc((100% - var(--logo-intro-width)) / 2);
        top: calc((100% - var(--logo-intro-height)) / 2);
        scale: 1;
    }

    to {
        left: var(--logo-intro-margin-top);
        top: var(--logo-intro-margin-left);
        scale: 0.6;
    }
}

@keyframes hiddenIntroBg {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes moveLogo {
    from {
        left: calc((100% - var(--logo-intro-width)) / 2);
        top: calc((100% - var(--logo-intro-height)) / 2);
    }

    to {
        left: var(--logo-intro-margin-top);
        top: var(--logo-intro-margin-left);
    }
}
