.head-members {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 25px 45px;

    .channel {

        &:hover {

            span {
                color: var(--purple-3);
            }
        }
    }

    .members {
        gap: 10px;

        .btn-channel-name {

            &:hover {
                span {
                    color: var(--purple-3);
                }
            }
        }

        .mini-info {
            gap: 0;
            padding: 3px 10px 3px 20px;

            .img-container {
                display: flex;
                align-items: flex-start;
                height: 40px;

                .avatar {
                    border-radius: 30px;
                    border: 2px solid white;
                    background: white;
                    margin-left: -10px;

                    img {
                        width: 40px;
                        border-radius: 50%;
                    }
                }
            }

            span {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .icon-single {
            padding: 8px !important;
            border-radius: 50% !important;
        }
    }
}

.ul-messages {
    flex-grow: 1;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 38px;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    li {
        margin: 15px 0;
    }
}