<mat-card class="mat-card rounded-4">
  <mat-card-content class="mat-card-content z-2">
    <app-chat-channel
      *ngIf="chatService.currentChannel && !chatService.currentChat"
      [drawerThread]="drawerThread"
    ></app-chat-channel>
    <app-chat-direct-messages
      [selectedUser]="currentUser"
      *ngIf="chatService.currentChat && !chatService.currentChannel"
    ></app-chat-direct-messages>
    <app-custom-textarea
      #customTextArea
      style="padding: 0 35px 40px"
    ></app-custom-textarea>
  </mat-card-content>
</mat-card>
