<div class="container">
  <img class="logo" src="../../assets/icons/logo_with_text.png" />
  <div class="impressum-container">
    <a (click)="goBack()" class="return-arrow">
      <img src="../../assets/icons/arrow_back.png" />
    </a>
    <h1>Impressum</h1>
    <span
      >Gheorghii Popovici,<br />
      Michael Schneider,<br />
      Matthias Teutsch</span
    >
    <span>Musterweg 1 Germany</span>
    <span></span>
    <h2>Contact:</h2>
    <span>Email: beispiel@email.de</span>
  </div>

  <div class="data-policies">
    <a routerLink="/impressum">Impressum</a>
    <a routerLink="/data-policy">Datenschutz</a>
  </div>
</div>
