.container {
  flex-direction: column;
  gap: 24px;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
  font-family: "Nunito" !important;
}

// ------------ Intro-Animation ------------ //
.intro-bg {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
  animation: hiddenIntroBg 300ms ease-in-out 1800ms 1 both;

  .logo-content {
    position: relative;
    width: 100%;
    height: 100%;

    .logo-intro {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: var(--logo-intro-width);
      height: var(--logo-intro-height);
      left: var(--logo-intro-margin-top);
      top: var(--logo-intro-margin-left);
      animation: moveLogoIntro 500ms ease-in-out 1800ms 1 both;

      .logo-image {
        width: var(--logo-image-width);
        animation: moveLogoImg 500ms ease-in-out 300ms 1 both;
      }

      .logo-text {
        overflow: hidden;

        img {
          width: var(--logo-text-width);
          z-index: 99999;
          transform: translateX(calc(-1 * var(--logo-intro-text-width)));
          animation: moveLogoText 500ms ease-in-out 800ms 1 both;
        }
      }
    }
  }
}

// ------------ SignIn ------------ //
.signin-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color, #eceefe);

  .mat-mdc-card {
    border-radius: 30px;
    padding: 16px 24px;
  }
  .logo {
    position: absolute;
    top: var(--logo-intro-margin-top);
    left: var(--logo-intro-margin-left);
    animation: moveLogo 500ms ease-in-out 1800ms 1 both;
  }
  .regist-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: absolute;
    top: var(--logo-intro-margin-top);
    right: var(--logo-intro-margin-left);

    a {
      padding: 10px 15px;
      text-decoration: none;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid gray;
        border-radius: 50px;
      }
    }
  }
}

.authentication-form {
  .form-field {
    position: relative;

    input {
      position: relative;
      z-index: 10;
      padding-left: 50px;
    }

    img {
      position: absolute;
      z-index: 10;
      left: 10px;
    }
  }

  .line-container {
    position: relative;
    width: 100%;

    div {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: var(--bg-color);
    }
    span {
      z-index: 1;
      padding: 0 16px;
      background-color: white;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
  }

  .btn-google {
    display: flex;
    padding: 11px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: var(--bg-color);
    border: 1px solid transparent;
    color: var(--purple);
    font-family: "Nunito";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    &:hover {
      font-weight: 700;
      border: 1px solid var(--purple);
    }

    &:active {
      font-weight: 400;
      border: 1px solid var(--dark-grey);
    }
  }

  .btns-bottom {
    display: flex;
    justify-content: space-evenly;
  }
}

.data-policies {
  position: absolute;
  bottom: 46px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;

  a {
    padding: 12px 16px;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #808080;
      border-radius: 50px;
    }
  }
}

:host {
  ::ng-deep .mdc-notched-outline {
    background-color: var(--bg-color) !important;
    border-radius: 40px !important;
  }

  // For INPUT_NOT_TOUCHED:
  ::ng-deep .mdc-notched-outline__trailing {
    border: 1px solid transparent !important;
    border-radius: 40px !important;
  }

  // For INPUT_FOCUSED:
  ::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
    border: 1px solid var(--purple-3) !important;
    border-radius: 40px !important;
  }

  // For INPUT_ERROR:
  ::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
    border: 1px solid var(--red) !important;
    border-radius: 40px !important;
  }

  ::ng-deep .mdc-notched-outline__leading {
    display: none !important;
  }

  ::ng-deep .mdc-notched-outline__notch {
    display: none !important;
  }
}

// ------------- keyframes -------------- //
@keyframes moveLogoImg {
  from {
    transform: translateX(var(--logo-intro-image-width));
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes moveLogoText {
  from {
    transform: translateX(calc(-1 * var(--logo-intro-text-width)));
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes moveLogoIntro {
  from {
    left: calc((100% - var(--logo-intro-width)) / 2);
    top: calc((100% - var(--logo-intro-height)) / 2);
    scale: 1;
  }

  to {
    left: var(--logo-intro-margin-top);
    top: var(--logo-intro-margin-left);
    scale: 0.6;
  }
}

@keyframes hiddenIntroBg {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes moveLogo {
  from {
    left: calc((100% - var(--logo-intro-width)) / 2);
    top: calc((100% - var(--logo-intro-height)) / 2);
  }

  to {
    left: var(--logo-intro-margin-left);
    top: var(--logo-intro-margin-top);
  }
}

/*-------------------------------- Responsive --------------------------------*/

@media (max-width: 1500px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 1200px) {
  .signin-page {
    .mat-mdc-card {
      max-width: 100% !important;
    }
    .regist-container {
      top: 24px;
    }
  }
}

@media (max-width: 700px) {
  .hide-mobile {
    display: none;
  }
  .regist-container {
    top: auto !important;
    bottom: 24px !important;
    right: auto !important;
    left: 50%;
    transform: translateX(-50%);
  }

  .signin-page {
    .mat-mdc-card {
      max-width: 100% !important;
    }
  }
  .line-container {
    span {
      font-size: 16px !important;
    }
  }
}

@media (max-width: 450px) {
  .container {
    display: flex;
    align-items: center !important;
    overflow: auto;
  }

  .mb-neg {
    margin-top: -16px;
  }

  .signin-page {
    padding-top: 80px;
    gap: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .mat-mdc-card {
      padding: 0 !important;
    }
    .logo {
      width: 200px;
      height: 56px;
    }
    .regist-container {
      display: flex;
      justify-content: center !important;
      align-items: center;

      gap: 2px;
      order: 1;
      position: static;
      transform: translateX(5%);

      a {
        padding: 4px 8px;
      }
    }
  }

  .btns-bottom {
    width: 100%;
    justify-content: space-evenly !important;
  }
  .btn-google {
    justify-content: space-evenly !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    img {
      width: 26px;
      height: 26px;
    }
    margin-bottom: 16px !important;
  }
}

@media (max-height: 750px) {
  .mat-mdc-card {
    padding: 0 !important;
  }
  .mb-mobile {
    margin-bottom: 10px !important;
  }
  .authentication-subtitle,
  .authentication-title {
    margin-bottom: 16px;
  }
  .mat-mdc-form-field-infix {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    min-height: auto;
  }
  .btn-google {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}
