<div class="container flex-centered">
    <div class="intro-bg">
        <div class="logo-content">
            <div class="logo-intro">
                <img class="logo-image" src="../../assets/icons/big_logo.png">
                <div class="logo-text">
                    <img src="../../assets/icons/logo_name.png">
                </div>
            </div>
        </div>
    </div>

    <div class="login-page flex-centered">

        <!-- <div class="header"> -->
            <!-- <img class="logo" src="../../assets/icons/logo_with_text.png">
            <div class="regist-container">
                Neu bei DABubble?
                <a>Konto erstellen</a>
            </div> -->
        <!-- </div> -->

        <!-- <div class="login-header"> -->
            <img class="logo" src="../../assets/icons/logo_with_text.png">
            <div class="regist-container">
                Neu bei DABubble?
                <a routerLink="/register">Konto erstellen</a>
            </div>
        <!-- </div> -->

        <!-- <div class="login-page flex-centered"> -->

            <!-- Anmeldung -->

            <!-- <mat-card>
            <mat-card-content> -->
            <div class="login-container flex-centered">
                <div class="info">
                    <h1>Anmeldung</h1>
                    <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
                </div>

                <form (submit)="loginUser()" #loginUserForm ngNativeValidate class="flex-centered">
                    <div class="email-container flex-centered" [class.focused]="isEmailFocused">
                        <img src="./assets/icons/email_icon.png" />
                        <input required id="email" type="email" placeholder="beispielname@email.de" name="email"
                            (focus)="onFocusEmail()" (blur)="onBlurMail()" />
                    </div>

                    <span *ngIf="mailError" class="error">*Diese E-Mail-Adresse ist leider ungültig.</span>
                    <!-- <span class="error" *ngIf="loginError">
                        Bitte prüfe deine Email Adresse.
                    </span> -->
<!-- 
                    <span class="error">
                        Bitte prüfe deine Email Adresse.
                    </span> -->


                    <div class="pwd-container flex-centered" [class.focused]="isPwFocused">
                        <img src="./assets/icons/password_icon.png" />
                        <input required id="password" type="password" name="password" placeholder="Passwort"
                            (focus)="onFocusPw()" (blur)="onBlurPw()" />
                    </div>

                    <span *ngIf="pwError || loginError" class="error">Falsches Passwort. Bitte noch einmal
                        versuchen.</span>
                    <span class="error" *ngIf="requestsError">
                        Zu viele Versuche. Bitte versuche es später noch einmal.
                    </span>

                    <a class="resetPw" routerLink="/send-email">Passwort vergessen?</a>

                    <div class="or-container flex-centered">
                        <div class="splitter"></div>
                        <span>ODER</span>
                        <div class="splitter"></div>
                    </div>

                    <div class="google flex-centered">
                        <img src="./assets/icons/google_icon.png" />
                        <span>Anmelden mit Google</span>
                    </div>

                    <div class="btn-container flex-centered">
                        <button class="submit flex-centered" type="submit">
                            Anmelden
                        </button>
                        <button (click)="guestLogin()" class="guest flex-centered" type="button">
                            Gäste-Login
                        </button>
                    </div>
                </form>

            </div>
            <!-- </mat-card-content>
            </mat-card> -->

            <div class="regist-container-mobile" style="display: none;">
                Neu bei DABubble?
                <a>Konto erstellen</a>
            </div>
        <!-- </div> -->

        <div class="data-policies">
            <a routerLink="/impressum">Impressum</a>
            <a routerLink="/data-policy">Datenschutz</a>
        </div>
        <div class="regist-container-mobile" style="display: none;">
            Neu bei DABubble?
            <a routerLink="/register">Konto erstellen</a>
        </div>

    </div>
</div>