.search {
  width: 51vw;

  &:focus {
    outline: none;
  }

  background-image: url("/assets/icons/search_icon.png");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 32px);
  background-position-y: center;
}

.custom-rounded {
  border-top-left-radius: 2.1rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 2.1rem;
  border-bottom-left-radius: 2.1rem;
}

a {
  text-decoration: none;
  color: black;
}

.menuContainer {
  font-size: 24px;
  min-width: 100px;
  &:hover {
    background-color: var(--bg-color);
  }
}

.mt-100 {
  margin-top: 100px;
}
