<div class="head-wrapper">
  <div class="flex-centered justify-content-between p-3">
    <div *ngIf="showLogo()" class="flex-centered gap-3 ps-3">
      <img height="56px" src="assets/icons/big_logo.png" alt="Logo" />
      <h2 class="fw-bold">daBubble</h2>
    </div>
    <div
      *ngIf="showChannelLogo()"
      class="flex-centered pointer"
      (click)="this.drawerService.openDrawer(this.drawerSidebar)"
    >
      <i class="bi bi-chevron-left fs-4"></i>
      <img class="head-img" src="../../../assets/icons/workspace_logo.png" />
    </div>
    <app-search class="hide-mobile"></app-search>
    <div
      class="flex-centered gap-3 pe-3 pointer text-hover"
      (click)="toggleLogout()"
    >
      <h2 class="fw-bold hide-at-800">
        {{ userService.user.name | titlecase }}
      </h2>
      <div class="position-relative">
        <img
          width="70px"
          height="70px"
          src="{{
            userService.user.photoURL ||
              'assets/characters/default_character.png'
          }}"
          class="rounded-circle object-fit-cover head-img"
        />
        <app-user-status
          *ngIf="userService.user.uid"
          class="header-status"
          [uid]="userService.user.uid"
        ></app-user-status>
      </div>
      <i class="bi bi-chevron-down fs-4 hide-at-800"></i>
    </div>
  </div>
  <div *ngIf="isOpen">
    <div class="position-absolute top-0 end-0 switch-menu-position">
      <mat-card class="p-4 fs-4 z-3 custom-rounded me-3 mt-100">
        <div class="line"></div>
        <mat-card-subtitle
          class="menuContainer pointer px-4 p-3 rounded-pill"
          (click)="openDialog()"
        >
          <a class="text-hover p-2 px-4">Profil</a></mat-card-subtitle
        >
        <mat-card-subtitle class="menuContainer px-4 p-3 rounded-pill">
          <a class="text-hover p-2 px-4 pointer" (click)="logout()"
            >Logout</a
          ></mat-card-subtitle
        >
      </mat-card>
    </div>
    <div
      class="w-100 h-100 position-fixed top-0 start-0 bg-dark opacity-50 z-2"
      (click)="toggleLogout()"
    ></div>
  </div>
</div>
