@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --purple: #444df2;
  --purple-3: #535af1;
  --active-blue: #1a73e8;
  --mail-blue: #1381ff;
  --dark-blue: #797ef3;
  --baby-blue: #c3e7ff;
  --bg-color: #eceefe;
  --light-grey: #adb0d9;
  --dark-grey: #686868;
  --light-green: #92c83e;
  --dark-green: #1e8e3e;
  --red: #ea4335;
  --yellow: #f9ab01;
  --logo-intro-width: 696px;
  --logo-intro-height: 184px;
  --logo-intro-margin-top: 75px;
  --logo-intro-margin-left: 75px;
  --logo-intro-image-width: 188px;
  --logo-intro-image-height: 184px;
  --logo-intro-text-width: 470px;
  --logo-intro-text-height: 73px;
}

::-webkit-scrollbar {
  display: none !important;
}

html,
body {
  background-color: var(--bg-color);
}

body {
  margin: 0;
  font-family: "Nunito";
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

input {
  &::placeholder {
    color: var(--dark-grey);
    font-family: "Nunito";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.text-hover {
  &:hover {
    color: var(--dark-blue);
  }
}

.box-shadow-style-1 {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.anchor {
  color: var(--dark-blue);
  font-family: "Figtree";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
  width: max-content;
  display: inline-flex;
  padding: 4px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  transition: all 225ms ease-in-out;

  &:hover {
    background: var(--bg-color);
    font-weight: 700;
  }

  &:active {
    background: var(--bg-color);
    color: var(--purple-3);
  }
}

.custom-text {
  color: black;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.dialog-create-channel
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface,
.dialog-edit-channel
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface,
.dialog-members
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface,
.dialog-add-members
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface {
  border-radius: 30px;
}

.custom-rounded
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface {
  border-top-left-radius: 2.1rem !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 2.1rem !important;
  border-bottom-left-radius: 2.1rem !important;
  max-width: fit-content;
}

.icon-colored-single {
  gap: 10px;
  padding: 12px;
  border-radius: 50%;
  transition: all 225ms ease-in-out;

  &:hover {
    background: var(--bg-color);
  }
}

.icon-single {
  gap: 10px;
  padding: 3px;
  border-radius: 50%;
  transition: all 225ms ease-in-out;

  &:hover {
    background: var(--bg-color);

    svg {
      rect,
      path {
        fill: var(--purple-3) !important;
      }
    }
  }

  &:active {
    background: var(--bg-color);

    svg {
      rect,
      path {
        fill: black;
      }
    }
  }
}

.text-and-icon_interactions {
  transition: all 225ms ease-in-out;

  &:hover {
    color: var(--purple-3);

    svg {
      rect,
      path {
        fill: var(--purple-3);
      }
    }
  }

  &:active {
    color: black;

    svg {
      rect,
      path {
        fill: var(--purple-3);
      }
    }
  }
}

.btn-secundary {
  padding: 12px 25px;
  gap: 10px;
  border-radius: 25px;
  border: 1px solid var(--Purple-2, #797ef3);
  color: var(--purple);
  background-color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 700;

  &:hover {
    background: var(--purple-3);
    border: 1px solid var(--purple-3) !important;
    color: white;
  }

  &:active {
    background: var(--purple);
    border: 1px solid var(--purple) !important;
    color: white;
  }

  &:disabled {
    border: 1px solid var(--dark-grey) !important;
    color: var(--dark-grey);
  }
}

.btn-primary {
  padding: 12px 25px;
  gap: 10px;
  border: 1px solid var(--purple) !important;
  border-radius: 25px;
  background: var(--purple);
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  &:hover {
    background: var(--dark-blue);
    border: 1px solid var(--dark-blue) !important;
  }

  &:active {
    background: var(--purple);
    border: 1px solid var(--purple) !important;
  }

  &:disabled {
    background: var(--dark-grey);
    border: 1px solid var(--dark-grey) !important;
  }
}

.btn-channel-name {
  width: max-content;
  display: inline-flex;
  padding: 4px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  transition: all 225ms ease-in-out;

  &:hover {
    background: var(--bg-color);

    svg {
      rect,
      path {
        fill: var(--purple-3);
      }
    }
  }

  &:active {
    background: var(--bg-color);
    color: var(--purple-3);

    span {
      font-weight: 700;
    }

    svg {
      rect,
      path {
        fill: var(--purple-3);
      }
    }
  }

  span {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.my-message {
  .message {
    flex-direction: row-reverse !important;
    cursor: default !important;

    .content {
      align-items: flex-end !important;

      .header {
        flex-direction: row-reverse !important;
      }

      .speech {
        color: white !important;
        border-radius: 30px 0px 30px 30px !important;
        background: var(--dark-blue) !important;
      }

      .label {
        display: none !important;
      }

      .message-reactions {
        display: block !important;
      }
    }

    .reaction-bar {
      right: inherit !important;
      left: 112px !important;
    }
  }
}

.my-message-thread {
  .message {
    .reaction-bar {
      left: 40px !important;

      .more-vert {
        display: block !important;
      }
    }
  }
}

.thread-message {
  .message {
    cursor: default !important;

    .content {
      .label {
        display: none !important;
      }

      .message-reactions {
        display: block !important;
        padding: 0 !important;

        ul {
          padding: 0 !important;
        }
      }
    }

    .reaction-bar {
      .more-vert {
        display: none;
      }
    }
  }
}

.thread-question {
  .message {
    .content {
      .message-reactions {
        display: none !important;
      }
    }
  }
}

.reaction {
  padding: 5px 10px;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid var(--light-grey);
  background: white;
  position: relative;

  &:hover {
    .tool-tip {
      display: block;
    }
  }

  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .tool-tip {
    display: none;
    position: absolute;
    z-index: 3000;
    bottom: 35px;
    left: 40px;

    div {
      flex-direction: column;
      padding: 15px 20px;
      gap: 5px;
      border-radius: 30px 30px 30px 0px;
      background-color: var(--purple);

      .name {
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: max-content;
      }

      .text {
        color: white;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: max-content;
      }
    }
  }
}

.authentication-header {
  justify-content: center;
  position: relative;

  .authentication-title {
    color: var(--purple);
    font-family: "Nunito";
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
  }

  .authentication-subtitle {
    width: 486px;
    color: black;
    text-align: center;
    font-family: "Nunito";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 40px;
  }

  svg {
    position: absolute;
    left: 20px;
    top: 30px;
    scale: 1.5;
  }
}

.status {
  border: 2px solid var(--bg-color);
  width: 16px;
  height: 16px;
}
.online {
  background-color: var(--light-green);
}
.offline {
  background-color: var(--dark-grey);
}
