@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --purple: #444df2;
  --active-blue: #1a73e8;
  --dark-blue: #797ef3;
  --baby-blue: #c3e7ff;
  --light-blue: #eceefe;
  --bg-color: #eceefe;
  --light-grey: #adb0d9;
  --dark-grey: #686868;
  --light-green: #92c83e;
  --dark-green: #1e8e3e;
  --red: #ea4335;
  --yellow: #f9ab01;
  --logo-intro-width: 696px;
  --logo-intro-height: 184px;
  --logo-intro-margin-top: 75px;
  --logo-intro-margin-left: 75px;
  --logo-intro-image-width: 188px;
  --logo-intro-image-height: 184px;
  --logo-intro-text-width: 470px;
  --logo-intro-text-height: 73px;
}

html,
body {
  background-color: var(--lightblue);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
